html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-image: url('http://skyelectronics.lk/image/data/animated-blue-sky.jpg');
}


#player {
	position: absolute;

	top: 50%;
	left: 50%;
	top: calc(50% - 20px);
	left: calc(50% - 20px);
	

}
img {
	height: 500px;
	width: 630px;
}

#controller {
	
	margin: 20px;

	width: 100px;

	border: 1px solid black;
}

ul {
	padding: 0;

	text-align: center;
	list-style-type: none;
}
ul li {
	margin: 10px;
}

.button {
	background-color: blue;
	color: #FFFFFF;
	opacity: 0.5;
	width: 80px;
	height: 20px;

	border: 1px solid black;
	border-radius: 10px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#003500), to(#008800));
    	background-image: -webkit-linear-gradient(left, #003500, #008800); 
	background-image:    -moz-linear-gradient(left, #003500, #008800);
	background-image:     -ms-linear-gradient(left, #003500, #008800);
	background-image:      -o-linear-gradient(left, #003500, #008800);
}
div {
	font-family: Verdana, Arial, Sans-Serif;
}
